<br/>
<br/>
Routeri u navbaru treba da budu skriveni ako korisnik nije ulogovan
Tj. treba da vidi samo login
<div class="container">
  <div [hidden]="submitted">
    <form #userForm="ngForm">

      <div class="row">
        <div class="col-md-5 offset-md-3">
          <div class="form-group">
            <label for="username">JMBG</label>
            <input type="text" class="form-control" id="username" required [(ngModel)]="user.username" name="name"
              #name="ngModel" pattern="^[0-9]{5,13}$">
            <div [hidden]="name.valid || !name.touched" class="alert alert-danger">
              JMBG is required
            </div>
          </div>
        </div>
      </div>

      <br/>

      <div class="row">
        <div class="col-md-5 offset-md-3">
          <div class="form-group">
            <label for="password">Lozinka</label>
            <input type="password" class="form-control" id="password" required [(ngModel)]="user.password"
              name="password" #password="ngModel"
              pattern="^[a-zA-Z0-9]{4,25}$">
            <div [hidden]="password.valid || !password.touched" class="alert alert-danger">
              Password is required
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="row">
        <div class="col-md-10 offset-md-1">
          <a routerLink="/requestReset" >Forgot your password?</a>
        </div>
      </div> -->

      <br/>

      <div class="row">
        <div class="col-md-1 offset-md-3">
          <button type="button" class="btn btn-success btn-block" [disabled]="!userForm.form.valid"
            (click)="login()">Login</button>
        </div>
      </div>

      <br />

      <div>
        <div class="col-md-10 offset-md-4">
          <!-- <p *ngIf="storeService.getLoginStatus() == true">Success!</p> -->
        </div>
      </div>


    </form>
  </div>

</div>