<div class="row">
    <div class="col-md-4 offset-md-2">
        <button type="submit" class="btn btn-primary" (click)="openLg(content)">Poternica</button>
    </div>
  </div>

  <ng-template class="popup" #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">New poternica</h4>
      <button type="button" class="btn" (click)="modal.dismiss('Close click')">X</button>
    </div>
    <div class="modal-body">
      <div class="containter">
        <form #postForm="ngForm">
  
          <div class="row">
            <div class="col-md-10 offset-md-1">
                  <div class="form-group">
                        <label for = "ime">Ime</label>
                        <input type="text" class="form-control" id="text" required
                              [(ngModel)]="poternica.ime" name="text"
                              #text="ngModel">
                        <div [hidden]="text.valid || !text.touched"
                              class="alert alert-danger">
                              Ime is required
                        </div>
                        <label for="opis">Opis</label>
                        <input type="text" class="form-control" id="text" required
                              [(ngModel)]="poternica.opis" name="text"
                              #text="ngModel">
                        <div [hidden]="text.valid || !text.touched"
                              class="alert alert-danger">
                              Opis is required
                        </div>
                  </div>
            </div>
          </div>

          <br/>
  
          <div class="row">
            <div class="col-md-10 offset-md-1">
                  <button type="submit" class="btn btn-success btn-block" [disabled]="!postForm.form.valid" (click)="newPoternica() ; modal.dismiss('Close click');">Create</button>
            </div>
          </div>
  
        </form>
      </div>
    </div>
  </ng-template>
  


