
<h1 [hidden]="logedPolicajac">Nemate pristup funkcijama granicne policije</h1>
<div [hidden]="!logedPolicajac">
  <h1>Granicna policija</h1>
  <input type="number" [(ngModel)]="proveraJmbgInput" placeholder="Enter a jmbg">
  <button (click)="postProvera()">PROVERI</button>

  <h1>Provere na cekanju:</h1>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Jmbg<br>gradjanina</th>
      <th>Gradjanin<br>(ime|prezime)</th>
      <th>Policajac<br>(ime|prezime)</th>
      <th>Vreme<br>provere</th>
      <th>Poternica</th>
      <th>Propustiti?</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let provera of provere">
      <td>{{provera.gradjanin.jmbg}}</td>
      <td>{{provera.gradjanin.ime}} {{provera.gradjanin.prezime}}</td>
      <td>{{provera.policajac.ime}} {{provera.policajac.prezime}}</td>
      <td>{{provera.vreme}}</td>
      <td>{{provera.poternica.naslov}}</td>
      <td><button *ngIf="provera.poternica.id === ''"
        style="background-color: darkgreen;color: white;padding: 8px;cursor: pointer;"
        (click)="acceptProvera(provera.id)">ACCEPT</button>
        <button style="background-color: darkred;color: white;padding: 8px;cursor: pointer;"
                (click)="openPrijava(prijavi,provera)">REFUSE</button></td>
    </tr>
    </tbody>
  </table>

  <button style="background-color: cornflowerblue;color: white;padding: 8px;cursor: pointer;" (click)="hideShow()">Prelasci/Provere</button>

  <div *ngIf="!prikaz"><h2>Prelasci:</h2>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Jmbg<br>gradjanina</th>
      <th>Gradjanin<br>(ime|prezime)</th>
      <th>Policajac<br>(ime|prezime)</th>
      <th>Vreme<br>prelaska</th>
      <th>Prelaz</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let prelazak of prelasci">
      <td>{{prelazak.provera.gradjanin.jmbg}}</td>
      <td>{{prelazak.provera.gradjanin.ime}} {{prelazak.provera.gradjanin.prezime}}</td>
      <td>{{prelazak.provera.policajac.ime}} {{prelazak.provera.policajac.prezime}}</td>
      <td>{{prelazak.vreme}}</td>
      <td>{{prelazak.g_prelaz}}</td>
    </tr>
    </tbody>
  </table>
  </div>

  <div *ngIf="prikaz"><h2>Sve provere do sad:</h2>
  <table  class="table table-striped">
    <thead>
    <tr>
      <th>Jmbg<br>gradjanina</th>
      <th>Gradjanin<br>(ime|prezime)</th>
      <th>Policajac<br>(ime|prezime)</th>
      <th>Vreme<br>provere</th>
      <th>Poternica</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let provera of provereSve">
      <td>{{provera.gradjanin.jmbg}}</td>
      <td>{{provera.gradjanin.ime}} {{provera.gradjanin.prezime}}</td>
      <td>{{provera.policajac.ime}} {{provera.policajac.prezime}}</td>
      <td>{{provera.vreme}}</td>
      <td>{{provera.poternica.naslov}}</td>
      <td>{{provera.status}}</td>
    </tr>
    </tbody>
  </table>
  </div>

  <ng-template #prijavi let-modals>
    <div class="modal-header" style="background-color: #f2f2f2;">
      <h4 class="modal-title" id="dodavanje" style=" font-weight: bold;">Posalji krivičnu prijavu tužilaštvu</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modals.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body" style="background-color: #f2f2f2;">
      <div class="container">

        <form #userForm="ngForm" (submit)="sendPrijava()">

          <div class="row">
            <div class="col-md-10 offset-md-1">
              <div class="form-group">
                <label>Clan zakonika</label>
                <input type="text" class="form-control gray" required
                       [(ngModel)]="prijavaDao.ClanZakonika" name="clanZakonika"
                       #clanZakonika="ngModel" >
                <div [hidden]="clanZakonika.valid || !clanZakonika.touched"
                     class="alert alert-danger">
                  Clan zakonika je obavezno polje
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-10 offset-md-1">
              <div class="form-group">
                <label>Obrazlozenje</label>
                <textarea type="text" class="form-control gray" required
                          [(ngModel)]="prijavaDao.Obrazlozenje" name="obrazlozenje"
                          #obrazlozenje="ngModel" >
                                        </textarea>
                <div [hidden]="obrazlozenje.valid || !obrazlozenje.touched"
                     class="alert alert-danger">
                  Obrazlozenje je obavezno polje
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-10 offset-md-1">
              <div class="form-group">
                <label>Tuzilastvo</label>
                <select class="form-control" required
                        [(ngModel)]="tuzilastvo.id" name="tuzilastvo"
                        #tuzilastvomodel="ngModel" class="form-select form-select-md">
                  <option *ngFor="let tuzilastvo of tuzilastva | async; index as i; first as isFirst" [value] = "tuzilastvo.id">{{tuzilastvo.naziv}}</option>
                </select>
                <div [hidden]="tuzilastvomodel.valid || !tuzilastvomodel.touched"
                     class="alert alert-danger">
                  Community is required
                </div>
              </div>
            </div>
          </div>

        </form>
      </div>
    </div>
    <div class="modal-footer" style="background-color: #f2f2f2;">
      <button type="button" class="btn btn-success success" (click)="[modals.close('Save click'), sendPrijava()]" [disabled]="!userForm.form.valid">Potvrdi</button>
    </div>
  </ng-template>

</div>
