.blue {
    background-color: #043e77;
}

.white {
    color: whitesmoke;
}

.pStranica {
    margin-left: 15px;
    font-weight: bold;
    color: #D0FF00;
}

.body {

}

.optuzeniT {
    border-left: solid 1px #e4e7ea; 
}

.prijavaT {
    border-right: solid 1px #e4e7ea;
    border-left: solid 1px #e4e7ea;  
}

.mestoT {
    border-right: solid 1px #e4e7ea;
}