<div class="sidebar">
    <div style="text-align: left">
        <button class="btn btn-secondary btn-sm"(click)="createPoternica()">Create Poternica</button>
    </div>
    <div class="view" style="margin-top: 20px;">
    <app-view-poternice></app-view-poternice>
</div>
</div>
<div class="sidebar">
    <div style="text-align: left" style="margin-top: 50px">
        <button class="btn btn-secondary btn-sm"(click)="createRociste()">Create Rociste</button>
    </div>
    <div class="view" style="margin-top: 20px;">
        <app-view-rociste></app-view-rociste>
    </div>
    
</div>