 
   <div class="container">
      
    <table class="table table-striped">  
      <thead>  
          <tr>  
            <th>Ime</th>  
            <th>Prezime</th>  
            <th>Pol</th> 
            <th>Jmbg</th>
            <th>Sud</th>
          </tr>  
      </thead>  
      <tbody>  
        <tr *ngFor="let sudija of sudije">  
          <td>{{ sudija.ime }}</td>  
          <td>{{ sudija.prezime }}</td>  
          <td>{{ sudija.pol }}</td>  
          <td>{{ sudija.jmbg }}</td>  
          <td>{{ sudija.sud }}</td>  
        </tr>  
      </tbody>  
    </table>  
  </div>  